@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

div.main{
    margin-left: 50px;
}

h2.title{
    color: white;
    font-size: 120px;
    font-family: 'Roboto Mono', monospace;
}

*{
    box-sizing: border-box;
  }
  body{
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-left: 130px;
    margin-top: 100px;
    background-color: #130f40;
  }
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 1000px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 1000px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 50ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  footer p{
    color: rgb(129, 129, 129);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }